<nav
  class="navbar navbar-expand-lg navbar navbar-light"
  style="background-color: #09f8fc"
>
  <a class="navbar-brand" routerLink="/">Home Page</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" routerLink="/home">Home</a>
      <a class="nav-item nav-link active" routerLink="/ranking">Players Rank</a>
      <a class="nav-item nav-link active" routerLink="/form">Add Player Form</a>
      <a class="nav-item nav-link active" routerLink="/gallery">Gallery</a>
      <a class="nav-item nav-link active" routerLink="/payment">Cart-Payment</a>
      <a class="nav-item nav-link active" routerLink="/contactUs">Contact Us</a>
      <a class="nav-item nav-link active" routerLink="/parent">Parent</a>
      <a class="nav-item nav-link active" routerLink="/child">Child</a>
      <a class="nav-item nav-link active" routerLink="/countries">Countries</a>
      <a class="nav-item nav-link active" routerLink="/onChange">On Change</a>
      <a class="nav-item nav-link active" routerLink="/dates">Dates</a>
      <a class="nav-item nav-link active" routerLink="/paymentCart"
        >paymentCart
      </a>

      <a class="nav-item nav-link active" routerLink="/donnetion">Donnetion </a>
      <a class="nav-item nav-link active" routerLink="/tranzila">Tranzila</a>
      <a class="nav-item nav-link active" routerLink="/successPayment"
        >success</a
      >
      <a class="nav-item nav-link active" routerLink="/failedPayment">failed</a>
      <a class="nav-item nav-link active" routerLink="/notifiyPayment"
        >notify</a
      >
      <a class="nav-item nav-link active" routerLink="/hostedFields"
        >hostedFields</a
      >
      <a class="nav-item nav-link active" routerLink="/hostedFieldsPayment"
        >pay with tranzila HF</a
      >
      <a class="nav-item nav-link active" routerLink="/events">Events !</a>
    </div>
  </div>
</nav>

<nav class="navbar navbar-light" style="background-color: #0400ff">
  <!-- Navbar content -->
</nav>
